PORT=
PG_DATABASE_URL=
PG_SSL=
PG_AUTO_MIGRATE=
PG_AUTO_CREATE_DB=
PG_COLLECTION_SCHEMA=
PG_EAGER_CREATE_COLLECTION_TABLES=
REDIS_HOST=
REDIS_PORT=
SUPERADMIN_KEY=
FUNDAMENTALS_SCHEDULER_ROLE=
FUNDAMENTALS_REFRESH_DAYS=
FUNDAMENTALS_QUEUE_BATCH=
PYTHON_API_BASE_URL=
SMARTAPI_API_KEY=
SMARTAPI_CLIENT_CODE=
SMARTAPI_PASSWORD=
IPO_GMP_SCHEDULER_ENABLED=
JWT_SECRET=

# EOD Script ENV
EOD_HISTORY_FROM_DATE=
EOD_HISTORY_TO_DATE=
EOD_HISTORY_DELAY_MS=

# Fundamental script env
FUNDAMENTALS_JOB_DELAY_MS=
FUNDAMENTALS_IDLE_DELAY_MS=
